/* hmtl/body - main body and 
-----------------------------
*/

body {
  margin: 0;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/gplaypattern_@2X.png");  
}

.container {
  background-image: url("../images/gplaypattern_@2X.png")
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
  background-color: #ffffff;
  height: 100px;
  border: 1px solid #cccccc;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

.aboutme {
  float: left;
  height: 98px;
  background-color: #4aaaa5;
  margin-left: 218px;
  padding-left: 60px;
  padding-right: 50px;
  
}
  
.port-links {
  float: right;
  padding: 10px;
  margin-right: 250px;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: poppins; 
  font-weight: 400;
}

/* html images > css images 
---------------------------
*/

* {
    box-sizing: border-box;
  }
  
  img {
    padding: 5px;
    width: 200px; 
  }

  .set1 {
    float: left;
    width: 33.33%;
    padding: 5px;
    align-items: center;
  }
  
  /* Clearfix (clear floats) 
  ------------------------
  */
  
.row::after {
  content: "";
  clear: both;
  display: table; 
}

.set2 {
  float: left;
  width: 33.33%;
  padding: 5px;
  align-items: center;
}

.set1, .set2 {
  display: flex;
  justify-content: center;
}

/* Clearfix (clear floats) 
------------------------
*/

.row2::after {
  content: "";
  clear: both;
  display: table;
}

/* end html images 
------------------
*/


main {
  background-color: #ffffff;
  width: 960px;
  padding: 10px;
  border: 2px solid #dddddd;
  margin: auto;
  margin-top: 50px;

}

hr {
  margin: 20px;
  border-width: 2px;
  border-style: solid;

}

.right1 {
  margin-left: 40px;
}

.left1 {
  text-align: justify;
  color: dimgray;
}

.headphoto {
  float: left;
  padding: 10px;
  margin: 10px;
}

.headshot {
  padding: 20px;
}

/* contact information box here
-------------------------------
*/

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:#4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #4aaaa5;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.labelbox {
  float: left;
  width: 20%;
  margin-top: 6px;
  align-content: right;
}

.typeoutbox {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to each other 

*/


@media screen and (max-width: 600px) {
.labelbox, .typeoutbox, input[type=submit] {
  width: 70%;
  margin-top: 0;
}
}


/* footer information here 
--------------------------
*/

footer {
    background-color: #666666;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
}


/* Set breakpoints at 980px, 768px, and 640px screen widths */

@media only screen and (min-width: 980px) {

  .container {
  	float: none;
  	width: 100%;
    height: auto;
  }

  	body { 
  		margin: 0 auto; 
  	}

  .main {
    float: none;
    width: 100%;
  }

}

@media only screen and (max-width: 980px) and (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  .port-links {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-decoration-style: none;
    float: center;
  }

	main { 
    max-width: 100%;
		margin: 0 auto; 
  }

  .right1, .left1, p {
  	max-width: 100%;
    float: left;
  }

	.headshot, .headphoto {
		width: 50%;
	}

}

@media only screen and (max-width: 768px) and (min-width: 640px) {
  .container {
    max-width: 600px;

  }

  .port-links {
    width: 33.3%;
    float: left;
    padding: 15px 0px 15px 0px;
    margin: 0px;
  }

	main { 
		max-width: auto;
  }

  .right1, .left1, p {
    max-width: auto;
    float: left;
  }


	.headshot, .headphoto {
		width: 50px;
	}

}

@media only screen and (max-width: 640px) {
  .container {
    max-width: 500px;
  }

  .port-links {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-decoration-style: none;
    float: center;
    width: 33.3%;
    float: left;
    padding: 15px 0px 15px 0px;
    margin: 0px;
  }

	main { 
		margin: 0 auto; 
  }

  .right1, .left1, p {
  	max-width: 100%;
    float: left;
  }

  .main-section {
  	max-width: 100%
  }

	.headshot, .headphoto {
    width: 50%;
  }


	nav {
		float: none;
		text-align: center;
    margin: auto;
	}

	h1 {
    font-size: auto;
    		padding-bottom: 0px;
	}

	body {
		font-size: 16px;
		line-height: 30px;
	}

  header {
    position: static;
  }

  footer {
    padding: 20px 0;
  }


}